/* table,tr,th,td{

    border-collapse: collapse;
    text-align: center;
    border: 1px solid #e60b66;
} */
table {
    width: 100%;
}

#result {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #e60b66;
}

#nav ul,
#nav li {
    list-style: none;
    float: left;
    margin: 2vh;
    color: rgb(40, 43, 212);
    font-size: 15vh;

}

#nav {
    background-color: #e60b66;
    width: 100%;
    height: 20vh;

}
