.nav ul,
.nav li{
    list-style: none;
    float: left;
    margin: 5px;
    color: blueviolet;
    font-size: x-large;
    
}
.nav{
    background-color: beige;
    width: 100%;
    height: 10vh;
    
}
a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: blue;
    background-color: transparent;
    text-decoration: dotted;
}
a:active{
    color: yellow;
    background-color: black;
    text-decoration: underline;
}
a:visited{
    color: red;
    background-color: aliceblue;
    text-decoration: line-through;
}